
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bảng tin</h1>
</div>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Danh mục tour
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.DanhMuc</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Tour
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Tour</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Đơn đặt tour
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.DonHang</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Tin tức
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.TinTuc</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <select id="year" class="form-control" style="width: 150px">

            <option value="0">Chọn năm</option>
            @for (int i = 2022; i < 2042; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
</div>
<div id="dvChart">
    <canvas id="myChart" width="400" height="230"></canvas>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script>

        $('#year').on('change', function () {
            var year = $(this).val();
            GetReportList(year);
        });

        var dt = new Date();
        GetReportList(dt.getFullYear());

        function GetReportList(year) {
            $.get('/Admin/Home/GetReportByYear?year=' + year, function (resp) {
                DisplayChart(resp);
            });
        }

        function DisplayChart(listData) {
            $("canvas#myChart").remove();
            $('#dvChart').html('<canvas id="myChart" width="400" height="230"></canvas>');

            var listLabel = [];
            var listDataSource = [];

            $.each(listData, function (index, item) {
                listLabel.push("Tháng "+ item.Thang);
                listDataSource.push(item.Total);
            });

            const ctx = document.getElementById('myChart').getContext('2d');
            const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: listLabel,
                    datasets: [{
                        label: 'Doanh thu',
                        data: listDataSource,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

        }

    </script>

}






